doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Founding and Investing in the next generation of Tech Companies')
        meta(name='author', content='Kendall Square Cofoundry')

        title Kendall Square Cofoundry

        link(rel='icon', type='image/x-icon', href='assets/img/Kendallsq_logo1.png')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')

        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container.px-4.px-lg-5
                a.navbar-brand(href='#')
                    img(src='assets/img/Kendallsq_logo1.png', alt='Kendall Square Cofoundry Logo', style='height: 40px;')
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href='#about') Strategy
                        li.nav-item
                            a.nav-link(href='#team') Team
                        li.nav-item
                            a.nav-link(href='#contact') Contact

        // Masthead
        header.masthead
            .container.px-4.px-lg-5.d-flex.h-100.align-items-center.justify-content-center
                .text-center
                    img.img-fluid(src='assets/img/Kendallsq_logo1.png', alt='Kendall Square Cofoundry Logo')
                    h2.text-white-50.mx-auto.mt-2.mb-5 Founding and Investing in Disruptive Tech Companies
                    a.btn.btn-primary(href='#about') About Us


        // About
        section#about.about-section.text-center
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8
                        h2.text-white.mb-4 Built by engineer-founders
                        p.text-white-50
                            | About the Cofoundry

        // Projects
        section#strategy.projects-section.bg-light
            .container.px-4.px-lg-5

                // Project One Row
                .row.gx-0.mb-5.mb-lg-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='assets/img/demo-image-01.jpg', alt='...')
                    .col-lg-6
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-white Strategy
                                    p.mb-0.text-white-50
                                        | The Cofoundry launches 5-10 MIT-focused Ventures each year.  With the experience and network of the team, plus a seed fund and the ability to source non-dilutive financing, we produce superior returns.
                // Project Two Row
                section#team.projects-section.bg-light
                .row.gx-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='assets/img/demo-image-02.jpg', alt='...')
                    .col-lg-6.order-lg-first
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-right
                                    h4.text-white Team
                                    p.mb-0.text-white-50
                                        | The Cofoundry is run by 
                                        a(href='https://www.linkedin.com/in/stevederezinski', target='_blank') Steve Derezinski
                                        | , Entrepreneur, Engineer, Founder and Investor.

        // Contact
        section#contact.bg-black
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .col-md-6.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-map-marked-alt.text-primary.mb-2
                                h4.text-uppercase.m-0 Kendall Square / MIT
                                hr.my-4.mx-auto
                                .small.text-black-50 Cambridge, MA USA
                    .col-md-6.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-envelope.text-primary.mb-2
                                h4.text-uppercase.m-0 Email
                                hr.my-4.mx-auto
                                .small.text-black-50
                                    a(href='mailto:steve@cofoundry.global') steve@cofoundry.global
                
                .social.d-flex.justify-content-center.mt-5
                    a.mx-2(href='#!')
                        i.fab.fa-twitter
                    a.mx-2(href='#!')
                        i.fab.fa-linkedin
                    a.mx-2(href='#!')
                        i.fab.fa-github


        // Footer
        footer.footer.bg-black.small.text-center.text-white-50
            .container.px-4.px-lg-5
                p(style="text-align: center;") &copy; Copyright Platform Technology Ventures LLC, Parent of Cofoundry
                .social.d-flex.justify-content-center
                    a(href='#') Legal Disclaimer

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
