doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Utility Token Safe Harbor Evaluator')
        meta(name='author', content='Kendall Square Cofoundry')
        title Utility Token Safe Harbor Evaluator - Kendall Square Cofoundry
        link(rel='icon', type='image/x-icon', href='assets/img/Kendallsq_logo1.png')
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')
        link(href='css/styles.css', rel='stylesheet')

    body
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container.px-4.px-lg-5
                a.navbar-brand(href='/')
                    img(src='assets/img/Kendallsq_logo1.png', alt='Kendall Square Cofoundry Logo', style='height: 40px;')
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href='/') Home
                        li.nav-item
                            a.nav-link(href='/#about') Strategy
                        li.nav-item
                            a.nav-link(href='/#team') Team
                        li.nav-item
                            a.nav-link(href='/#contact') Contact

        section.about-section.text-center(style='padding-top: 8rem; padding-bottom: 5rem;')
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8
                        h2.text-white.mb-4 Utility Token Safe Harbor Evaluator
                        p.text-white-50
                            | Evaluate your token's compliance with safe harbor provisions using our AI-powered tool.
                        a.btn.btn-primary.mb-5(href='https://chatgpt.com/g/g-674fdb09cbb4819196321186dc996c1f-utility-token-safe-harbor-evaluator', target='_blank') Try me now on ChatGPT

        // Three informational sections
        section.projects-section.bg-light(style='padding-top: 3rem;')
            .container.px-4.px-lg-5
                // Section One
                .row.gx-0.mb-5.mb-lg-0.justify-content-center
                    .col-lg-6
                        a(href='https://chatgpt.com/g/g-674fdb09cbb4819196321186dc996c1f-utility-token-safe-harbor-evaluator', target='_blank')
                            img.img-fluid(src='assets/img/utshe-chat.png', alt='Safe Harbor Concept')
                    .col-lg-6
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-white Built from the latest CFTC GMAC guidance
                                    p.mb-0.text-white-50
                                        | Reviewing the latest CFTC guidance, we've built a tool that evaluates your token's compliance with safe harbor provisions.

                // Section Two
                .row.gx-0.mb-5.mb-lg-0.justify-content-center
                    .col-lg-6
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-right
                                    h4.text-white Key Evaluation Criteria
                                    p.mb-0.text-white-50
                                        | Our AI evaluator examines multiple factors including token functionality, marketing approach, secondary market restrictions, and development timeline to assess safe harbor eligibility.
                    .col-lg-6
                        img.img-fluid(src='assets/img/demo-image-02.jpg', alt='Evaluation Process')

                // Section Three
                .row.gx-0.justify-content-center
                    .col-lg-6
                        img.img-fluid(src='assets/img/demo-image-01.jpg', alt='Implementation Guide')
                    .col-lg-6
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-white Implementation Guide
                                    p.mb-0.text-white-50
                                        | Get practical guidance on implementing safe harbor provisions in your token project. From initial concept, use this tool to help you ensure you are closer to a utility token.

        // Example Reports Section
        section.example-reports.bg-white.text-black
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8
                        h3.text-center.mb-4 Evaluate ETH, SOL, XRP, DOGE, ADA
                        // Report One
                        .report.mb-5
                            iframe(src='../reports/sample1.html', width='100%', height='400px', frameborder='0', style='border: none; position: relative; z-index: 9999')
                        // Report Two
                        h3.text-center.mb-4 What can improve FLOKI utility and bonus scores?
                        .report.mb-5
                            iframe(src='../reports/sample2.html', width='100%', height='400px', frameborder='0', allowTransparency='true', style='border: none; background-color: transparent;')

        .alert.alert-warning.mt-5
            strong Educational Purposes Only: 
            | This website is intended for educational purposes only and should not be relied upon as a source of legal advice. If you require specific guidance, please consult with a licensed attorney.

        footer.footer.bg-black.small.text-center.text-white-50
            .container.px-4.px-lg-5
                p.mb-3(style='text-align: center;') Educational Purposes Only: This website is intended for educational purposes only and should not be relied upon as a source of legal advice. If you require specific guidance, please consult with a licensed attorney.
                p.mb-3(style='text-align: center;') Not Legal Advice: The guidance offered on this site is not intended to be taken as professional legal advice. If you require personalized legal advice, please consult a qualified attorney.
                p(style='text-align: center;') &copy; Copyright Platform Technology Ventures LLC, Parent of Cofoundry
                p.p-small
                    a.no-line(href='mailto:sjd@cofoundry.global') sjd@cofoundry.global
                p.p-small
                    a.no-line(href='legal-disclaimer.html') Legal Disclaimer

        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')
        script(src='js/scripts.js')
